.App {
  text-align: center;
}

.jumbotron {
  width: 100%;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  padding: 50px;
  color: #fff;
  text-align: center;
}
.jumbotron .btn {
  text-align: center;
}
